doctype html
html
  head
    title= title || "Your waifu ain't moe."
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale = 1.0, user-scalable=no, width=device-width, height=device-height")
  body
    block content
