body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  overflow: hidden;
}

a {
  color: #00B7FF;
}

.wrap {
  display: inline-block;
  background-color: rgba(0,0,0,0.4);
  border-radius: 0.2em;
  border: 2px solid #000;
  padding: 1em;

  position: absolute;
  top: 50%;
  left: -1em;
  right: -1em;
  transform: translatey(-50%);

  text-align: center;
}

.not-moe {
  font-size: 4em;
  color: #fff;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  margin-top: 0;
  margin-bottom: 0.2em;
}

input[type=text] {
  text-align: center;
  max-width: 5em;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: 0px solid #e4e4e4;
  border-bottom-width: 0.05em;
  background-color: transparent;
  color: #fff;
  outline: none;
  font-size: 1em;
}
input[type=text]:focus {
  border: 0px solid #fff;
  border-bottom-width: 0.05em;
}

.never-moe {
  font-size: 1em;
  color: #fff;
}

.background-art {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  z-index: -2;

  position: absolute;
  top: calc(-0.3em - 2px);
  left: -6em;
  right: -6em;
  bottom: 0em;
}

.background-art > img {
  flex-basis: 0;
  object-fit: contain;
  margin: 0.3em;
  border: 2px solid #000;
  min-height: calc(20% - 0.6em - 2px);
}
